# You can find documentation for all the supported env variables at https://immich.app/docs/install/environment-variables

# The location where your uploaded files are stored
UPLOAD_LOCATION=/mnt/user/immich/library
# The location where your database files are stored
DB_DATA_LOCATION=/mnt/user/appdata/postgres-immich

# To set a timezone, uncomment the next line and change Etc/UTC to a TZ identifier from this list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TZ=Europe/Prague

# The Immich version to use. You can pin this to a specific version like "v1.71.0"
IMMICH_VERSION=release

# Connection secret for postgres. You should change it to a random password
# Please use only the characters `A-Za-z0-9`, without special characters or spaces
DB_PASSWORD=fill_a_strong_pass_with_no_special_chars

# Don't change these DB related values
DB_USERNAME=postgres
DB_DATABASE_NAME=immich

# Stack related variables
TS_HOSTNAME=immich
TS_TAILNET_NAME=tiny-plesiosaurus.ts.net
TS_AUTH_KEY=tskey-client-kXGGbs6CNTRL
TS_CONFIG_DIR=/mnt/user/appdata/tailscale/immich/

CADDY_FILE_PATH=/mnt/user/appdata/caddy/immich/Caddyfile